.login-container {
    display: flex;
    min-height: 100vh;
}

.login-form {
    width: 50%;
    background: #ffffff;
    padding-top: 100px;
}

.login-form-content {
    margin: 0 auto;
    width: 450px;
}

.login-form img {
    width: 205px;
    height: auto;
}

.login-form .login-form-title {
    font-family: "Lora";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
    color: #414859;
    margin-top: 65px;
}

.login-form .login-form-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: rgba(55, 60, 72, 0.75);
}

.login-form .login-form-divider {
    width: 450px;
    background-color: rgba(65, 72, 89, 0.15);
    margin: 50px 0;
    height: 1px;
}

.login-form .login-form-control-label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #414859;
}

.login-form-control-input-container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 450px;
}

.login-form-control-input-container svg {
    position: absolute;
    right: 20px;
    top: 50%;
}

.login-form .login-form-control-input:focus ~ svg path {
    fill: #1B78E5;
}

.login-form .login-form-control-input:focus ~ svg g {
    opacity: 1;
}

.login-form .login-form-controls {
    margin-top: 35px;
}

.login-form .login-form-control-input:focus + .login-form-control-label {
    color: #1B78E5;
}

.login-form .login-form-control-input {
    padding-left: 25px;
    width: 450px;
    height: 59px;
    border: 1px solid rgba(65, 72, 89, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
    color: #414859;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.login-form .login-form-control-input:focus {
    border: 2px solid #1B78E5;
    outline: none;
    box-shadow: none;
}

.login-form .login-form-control-input::placeholder {
    color: rgba(65, 72, 89, 0.5);
    opacity: 1;
}

.login-form .login-form-control-input:-ms-input-placeholder {
    color: rgba(65, 72, 89, 0.5);
}

.login-form .login-form-control-input::-ms-input-placeholder {
    color: rgba(65, 72, 89, 0.5);
}

.login-form .login-form-button {
    color: #ffffff;
    background: #1B78E5;
    border-radius: 5px;
    width: 450px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-top: 50px;
    cursor: pointer;
}

.login-form .login-form-button:hover {
    background-color: #06007A;
}

.login-form .login-form-link,
.login-form .login-form-link a {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #373C48;
    margin-top: 20px;
    margin-bottom: 90px;
}

.login-form .login-form-link a {
    color: #1B78E5!important;
    font-weight: bold;
}

.login-form .login-form-link a:hover {
    color: #06007A!important;
}

.login-banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    position: relative;
}

.login-banner-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 510px;
}

.login-banner-content h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 48px;
    line-height: 61px;
    font-family: "Lora";
}

.login-banner-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
}

.login-banner-content img {
    width: 177px;
}

.login-banner-bottom-content {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 510px;
}

.login-banner-bottom-content img {
    width: 129px;
}

@media all and (max-width: 1100px) {
    .login-banner-content,
    .login-banner-bottom-content {
        width: 400px;
    }

    .login-banner-content h1 {
        font-size: 35px;
        line-height: 50px;
    }
}

@media all and (max-width: 992px) {
    .login-container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .login-banner {
        width: 100%;
        height: 500px;
    }

    .login-form {
        width: 100%;
    }

    .login-banner-bottom-content {
        bottom: 40px;
    }

    .login-banner-content,
    .login-banner-bottom-content {
        width: 450px;
    }
}

@media all and (max-width: 600px) {
    .container.login-container {
        width: 100%;
        padding: 0;
    }

    .login-banner-content h1 {
        font-size: 30px;
        line-height: 48px;
    }

    .login-banner {
        height: 400px;
    }

    .login-banner-bottom-content {
        bottom: 20px;
    }

    .login-form {
        padding-top: 60px;
    }

    .login-form .login-form-title {
        font-size: 30px;
        line-height: 46px;
        margin-top: 30px;
    }

    .login-form-content,
    .login-form .login-form-divider,
    .login-form .login-form-control-input,
    .login-form .login-form-button,
    .login-form-control-input-container,
    .login-banner-content,
    .login-banner-bottom-content {
        width: 310px;
    }
}
