
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Navbar improvements 
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
https://stackoverflow.com/questions/63013774/make-login-form-responsive-with-flexbox

*/

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}


@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
.generic_class {
	font-family: 'Lora', sans-serif;
}
img { 
    height: 10%;
    width: 50%;
}

.photo {
  padding: 10px;
  height: 100px;
  width: 100px;
}

.form-group { 
  padding-top: 5px;

}

.minibox {
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 10px;
}


/* CSS normalizers */
/* *, *::before, *::after {
  box-sizing: border-box;
} */

/* login page */
.custom-field {
  font-size:14px;
}

/* login page resigsteration */
.custom-field input {
  
  border: none !important;
  -webkit-appearance: none ;
  -ms-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: #f2f2f2 !important;
  padding: 12px !important;
  border-radius: 3px !important;
  width: 100% !important;
  height: 50px !important;
  font-size: 14px !important;
}

.spacing { 
padding: 25px;
}

.custom-field button{
  width: 100% !important;
  height: 50px !important;
  padding: 12px !important;
  border-radius: 3px ;
  font-size: 14px;  
}

.custom-field p {
  text-align: left;
  font-size: 15px;
  margin: 5px !important;
}

/* label css for Settings page */
.custom-field-settings {
text-align:left;
margin-left: 30px;
}
.custom-field-settings p {
  text-align: left;
  font-size: 15px;
  margin: 5px !important;
}

.custom-field-settings button{
  padding-top:10px !important;
  float:right;
  width: 20% !important;
  height: 50px !important;
  padding: 12px !important;
  border-radius: 3px ;
  font-size: 14px;  
}

.custom-field-settings input {
  
  border: none !important;
  -webkit-appearance: none ;
  -ms-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: #fff !important;
  padding: 12px !important;
  border-radius: 3px !important;
  width: 100% !important;
  height: 50px !important;
  font-size: 14px !important;
}

/* Homepage css */
.Homepage {
  padding-top: 220px;
  padding-left: 100px;
  padding-right: 100px;

  height: 80%;
  width: 100%;
  margin: 0 auto;
  text-align: center;

}

.Homepage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



.form-input p{
  color:red;
}
.row_background {
  padding:20px;
  background-color: #D7D7D7 !important;
}

.row_background p {
  font-size: 15px;
  padding-left:15px;
  padding-right:15px;
  background-color: #D7D7D7 !important;
}


/* autocomplete css */
.autocss{
  background-color: #fff !important;
  color:#2A3C3A !important;
}

.box {
  padding: 30px;
}

.SideBar {
  font-size:16px;
  background-color: whitesmoke !important;
  padding:10px;
}

.SideBar h6{ 
  color: black;  
  font-weight: 700;
}

.SideBar p{ 
  color: black;  
  font-weight: 100;
  text-align: left;
}

.form-input-login {
  color:#2A3C3A;
}


/* Login box improvement */
/* 9/1/2021 */

.flex-container {
  display: flex;  
  /* font */
  flex-direction: row;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
.flex-child {
  flex: 1;
}  

.flex-child:first-child {
  margin-right: 0px;
} 

/* Login Section lefthand side */
.rowLogin {
  padding: 50px;
  margin-left: auto;
  margin-right: auto !important;
  width: 600px;
  text-align: center;
  
}

/* card login right had side  */
.card_login2 { 
  background-size: cover;       
  background-position: center center;              
  height: 100%;
  background-repeat: no-repeat;
  background-image:  
              linear-gradient(180deg, 
              rgba( 145, 146, 122, 0.62), 
              rgb(27, 120, 229)), url( 
'../images/shutterstock_1771500629.jpg'); 
            width: 100%; 
            padding:20px;
            
}
/* card login text */
.card_login2 p { 
 color:#FFF;
}

.card_login {
  padding:20px;
background: white;
height: 100%;
  
}

.headerleft {
  text-align: left;
}


.card_page { 
  background: whitesmoke;  
  margin:3%;
  padding:10px;
}


/* Navbar improvements */

/* 
.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
   margin-bottom: 20px;
} */

.NavbarItems {
  /* background:linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63,252,1 ) 100%); */
  /* background: linear-gradient(360deg, rgb(6, 0, 122) 10%, rgb(28,192,194) 95%); */
  background: #FFFF;
  /* height:80px; */
  display:flex;
  flex-direction: row ;
  justify-content:flex-start;
  align-items:center;
  font-size:1.2rem;
}

.navbar-logo {
  color:#2A3C3A;
  justify-self:start;
  margin-left:0px;
  cursor:pointer;
  font-size:25px;
}

.PostionImg { 
  text-align: left;
  
}

.SubNavStyle a {

  font-size:18px !important;
}


/* TextBoxCenter */
.TextBoxCenter { 

  margin:3%;
  padding:10px; 
  color:#fff;
  text-align: center;
}
.TextBoxCenter h1 { 
  color:#fff; 
}
.TextBoxCenter p { 
  font-size: 5 px; 
}
.TextBoxCenter img { 
  width: 155px;				/* width of image (px or % or auto) */
  height: auto;				/* height of image (px or % or auto) */
}
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.nav-menu {
  display:grid;
  grid-template-columns:repeat(5, auto);
  grid-gap:10px;
  list-style: none;
  text-align:center;
  justify-content:space-evenly;
  
  /* width:70vw;
  justify-content:end;
  margin-right:2rem; */
  margin-left: 20px;

}

.nav-links {
  color:#2A3C3A;
  
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color:#06007A;
  transition:all 0.2s ease-out;

}

/* mobile navlinks */
.nav-links-mobile{
  display:none;
}

.menu-icon {
  display:none;
}

@media screen and (max-width:660px) {
  .NavbarItems {
    position:relative;
  }

  .nav-menu {
    display:flex;
    flex-direction:column;
    width: 100%;
    height: 500px;
    position: absolute;
    top:80px;
    left:-100%;
    opacity:1;
    transition:all 0.5s ease;
  }

  .nav-menu.active {
    background-color: #fff;
    left:0;
    opacity:1;
    transition: all 0.5s ease;
    z-index:1;
  }

  .nav-links {
    text-align:center;
    padding:2rem;
    width:100%;
    display:table;
  }

  .nav-links:hover{
  background-color: #7577fa;
  top:0;
  left:0;
  transform:translate(25%,50%);
}

.menu-icon {
  display:block;
  position:absolute;
  top:0;
  right:0;
  transform: translate(-100%, 60%);
  font-size:1.8 rem;
  cursor:pointer;
}

.fa-bars{
  color:black;
  font-size: 2rem;
}

.fa-times{
  color:black;
  font-size: 2rem;

}

/* .nav-links-mobile{

} */
}

/* input size for date of birth */
::-webkit-datetime-edit { padding: 1em; }
/* ::-webkit-datetime-edit-fields-wrapper { background: silver; } */
::-webkit-datetime-edit-text { color: #0FA0CE; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: #2A3C3A; }
::-webkit-datetime-edit-day-field { color: #2A3C3A; }
::-webkit-datetime-edit-year-field { color: #2A3C3A; }
/* ::-webkit-inner-spin-button { display: none; } */
/* ::-webkit-calendar-picker-indicator { background: orange; } */

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  

  max-width: 1960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; 
}
/* 
.container{
    width: 1000px;
    background-color: #ddd;
    display: grid;
    width: 100%;
    padding: 0 20px;
  max-width: 1960px;
  margin: 0 auto;
    width: 90%;
    //Using auto-fill and auto-fit
    grid-template-rows: repeat(2, minmax(150px, min-content));
    grid-template-columns: repeat(auto-fill,100px);
    grid-template-columns: repeat(auto-fit,100px);
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  
    grid-auto-rows: 150px;
    
    .item{
      padding: 10px;
      font-family: sans-serif;
      
     }
    
   } */
  

  .column,
  .columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }
  
  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0; }
  }
  
  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .container {
      width: 100%;
      height: 1000%;
     }
    .column,
    /* we set margin leftt to 0 to columns hug each other */
    .columns {
      margin-left: 0%;
      margin-top: 0%;
      margin-right: 2%;
    }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }
  
    .one.column,
    .one.columns                    { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }
  
    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }
  
    .one-half.column                { width: 48%; }
  
    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }
  
    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }
  
    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }
  
  }
  
  
  /* Base Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* NOTE
  html is set to 62.5% so that all the REM measurements throughout Skeleton
  are based on 10px sizing. So basically 1.5rem = 15px :) */

  /* html, body{min-height:100%;
    background: linear-gradient(135deg, #06007A, #1CC0C2);
} */

  html {
    min-height:100%;
    font-size: 62.5%; }
  body {
    /* background: linear-gradient(135deg, #06007A, #1CC0C2); */
    background-color: #06007A;
    background-repeat: no-repeat;
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    height:100%;
    
    font-family: brother-1816, sans-serif;
    font-weight: 700;
    font-style: normal;
    color:white; 
}
  
  
  /* Typography
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300; 
    color:#2A3C3A;
  }
  h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
  h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
  h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
  h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
  h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
  h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }
  
  /* Larger than phablet */
  @media (min-width: 550px) {
    h1 { font-size: 5.0rem; }
    h2 { font-size: 4.2rem; }
    h3 { font-size: 3.6rem; }
    h4 { font-size: 3.0rem; }
    h5 { font-size: 2.4rem; }
    h6 { font-size: 1.5rem; }
  }
  
  p {
    margin-top: 0; 
    color:#2A3C3A;
  }
  
  /* navbar elements */

  /* Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /******************************************** LINKS ************************************/

  a {
    text-decoration:none;
    background-color: transparent;
    font-size: 20px;  
  }
  a:hover {
    color: #0FA0CE; }

/* unvisited link */
a:link {
    color: #2A3C3A;
}

/* visited link */
a:visited {
    color: #2A3C3A;
}

/* mouse over link */
a:hover {
    color: #06007A;
}

/* selected link */
a:active {
    color: rgb(27, 27, 187)07A;
}


  
  /* Buttons
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
/************************************ Buttons  ************************************/


.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}


.btn-main {
    color: #fff !important;
    background-color: #1B78E5;
    border-radius: 5px;
    outline-width: 0px;
    display: inline-block;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    border: none;
    
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-deposit {
  color: #fff !important;
  background-color: #06007A !important; 
  border-radius: 5px;
  outline-width: 0px;
  display: inline-block;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 0px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  border: none;
  
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-deposit:hover {
  background-color: #179EA1;
  /* box-shadow: 0px 15px 20px rgba(23, 158, 161, 0.2); */
  color: #fff;
  transform: translateY(-7px);
}


.btn-deposit:active:focus {
  box-shadow: inset 0 0 0 20rem #060250,
  0 0 1px #060250;
}

/* .button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
} */


.btn-main:hover {
    background-color: #179EA1;
    /* box-shadow: 0px 15px 20px rgba(23, 158, 161, 0.2); */
    color: #fff;
    transform: translateY(-7px);
}


.btn-main:active:focus {
    box-shadow: inset 0 0 0 20rem #060250,
    0 0 1px #060250;
}


.btn-error { 
    color: whitesmoke;
    background-color: #660000;
    border-radius: 5px;
    outline-width: 0px;

}

.btn-error:hover {
    color: whitesmoke;
    background-color: #850303;
}

.btn-error:active {
    color: #2A3C3A;
    box-shadow: inset 0 0 0 20rem #3b0101,
    0 0 1px #3b0101;
}

/* ProgressBar css */

#progressBarContainer {
  margin: 20px;
  width: 350px;
  height: 8px;
}

#myProgress {
  width: 80%;
  margin-left: 10%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

.ProgressBar {


}

/* Card Classes */

.card_button { 
  width:80%; margin: 3%; background: whitesmoke;
}

.card_registeration {
  padding:20px;
background: white;
height: 100%;
  
}


.card_registeration div {
  padding:20px;
background: white;
height: 100%;
  
}

.card_side p{
 margin-bottom: 2rem;
}

.registration input{ 
  width: 200px;
  font-size: 15px;
}

.inner-row {
  margin-top: 0%;
  margin-left: 2%;
}

.inner-row p {
  margin:2%;
  color:red;
}

.image{
  margin-bottom: 3%;
}

.side-row{
  padding:20px;
  margin: 3%;
}

.card { 
  width:80%; margin: 3%; background: whitesmoke;
}

/* render cards Coverage */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 calc(25% - 1em);
}

/* different medias for carsds */

@media screen and (min-width: 40em) {
  .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .card {
      flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {

  .card {
      flex: 0 1 calc(25% - 1em);
  }
}





/* 
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
.RenderUpload { 
  -webkit-flex-wrap: wrap;
  flex-wrap:wrap ;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  
.wrap li {
  background: gold;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
} */

  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: inline-block;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
   }
  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  .button:focus,
  button:focus,
  input[type="submit"]:focus,
  input[type="reset"]:focus,
  input[type="button"]:focus {
    color: #333;
    border-color: #888;
    outline: 0; }
  .button.button-primary,
  button.button-primary,
  input[type="submit"].button-primary,
  input[type="reset"].button-primary,
  input[type="button"].button-primary {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0; }
  .button.button-primary:hover,
  button.button-primary:hover,
  input[type="submit"].button-primary:hover,
  input[type="reset"].button-primary:hover,
  input[type="button"].button-primary:hover,
  .button.button-primary:focus,
  button.button-primary:focus,
  input[type="submit"].button-primary:focus,
  input[type="reset"].button-primary:focus,
  input[type="button"].button-primary:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB; }
  
  
  /* Forms
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    color:#2A3C3A;
    text-transform: none;
    text-indent: 0px;
        text-transform: none;
    text-indent: 0px;
    box-sizing: border-box; }

    input:focus, textarea:focus
    {
        /* border: 2px solid #28BDBF; */
        box-shadow: 0 0 3px #28BDBF;
        outline-offset: 0px;
        outline: none;
    }

  /* Removes awkward default styles on some inputs for iOS */
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px; }
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #33C3F0;
    outline: 0; }
  label,
  legend {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600; }
  fieldset {
    padding: 0;
    border-width: 0; }
  input[type="checkbox"],
  input[type="radio"] {
    display: inline; }
  label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal; }
  
  
  /* Lists
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  ul {
    list-style: none; }
  ol {
    list-style: decimal inside; }
  ol, ul {
    padding-left: 0;
    margin-top: 0; }
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }
  li {
    margin-bottom: 0rem; }
  
  
  /* Code
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px; }
  pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre; }
  
  
  /* Tables
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  th,
  td {
    padding: 4px 5px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1; }
  th:first-child,
  td:first-child {
    padding-left: 0; }
  th:last-child,
  td:last-child {
    padding-right: 0; }
  
  
    /* sections */

.account-section{
  text-align: center;
  padding: 15px;
}

.account-form{
  margin-left: 10%;
  margin-right: 10%;
  color: #2A3C3A;
}

.front-page-section{
  background-color: white;
  height: auto;
  width: 100%;

}

.tagline h1 {
  color:#FFF;
}

  /* Spacing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  button,
  .button {
    margin-bottom: 1rem; }
  input,
  textarea,
  select,
  fieldset {
    margin-bottom: 1.5rem; }
  pre,
  blockquote,
  dl,
  figure,
  table,
  p,
  ul,
  ol,
  form {
    margin-bottom: 2.5rem; }
  
  
  /* Utilities
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .u-full-width {
    width: 100%;
    box-sizing: border-box; }
  .u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; }
  .u-pull-right {
    float: right; }
  .u-pull-left {
    float: left; }
  
  
  /* Misc
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1; }
  
  
  /* Clearing
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  /* Self Clearing Goodness */
  .container:after,
  .row:after,
  .u-cf {
    content: "";
    display: table;
    clear: both; }
  
  
  /* Media Queries
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /*
  Note: The best way to structure the use of media queries is to create the queries
  near the relevant code. For example, if you wanted to change the styles for buttons
  on small devices, paste the mobile query code up in the buttons section and style it
  there.
  */
  
  
  /* Larger than mobile */
  @media (min-width: 400px) {}
  
  /* Larger than phablet (also point when grid becomes active) */
  @media (min-width: 550px) {}
  
  /* Larger than tablet */
  @media (min-width: 750px) {}
  
  /* Larger than desktop */
  @media (min-width: 1000px) {}
  
  /* Larger than Desktop HD */
  @media (min-width: 1200px) {}
  