.idea
.vessel_env/
.vessel_env\
*.pyc
*.pyd
*.txt
vessel_env/Lib/site-packages/alembic-1.4.2.dist-info/INSTALLER
vessel_env/Lib/site-packages/alembic-1.4.2.dist-info/LICENSE
vessel_env/*
site.db
.vscode
Back-end/migrations/versions/c07a25e43834_.py
Back-end/migrations/versions/c34e6a36c176_.py
Back-end/migrations/versions/c34e6a36c176_.py
Back-end/migrations/versions/c34e6a36c176_.py
Back-end/site.db
Back-end/site.db
Back-end/site.db
Back-end/testplot.jpg
Back-end/some_image.jpg
Back-end/testplot.jpg
