.idea
.vessel_env/
.vessel_env\
*.pyc
*.pyd
vessel_env/Lib/site-packages/alembic-1.4.2.dist-info/INSTALLER
vessel_env/Lib/site-packages/alembic-1.4.2.dist-info/LICENSE
vessel_env/*
site.db
.vscode
Back-end/migrations/*
Back-end/site.db
Back-end/testplot.jpg
Back-end/some_image.jpg
Back-end/testplot.jpg
Back-end/testplot.jpg
Back-end/vessel_app/__pycache__/__init__.cpython-38.pyc
Back-end/vessel_app/__pycache__/routes.cpython-38.pyc
Back-end/migrations/versions/c34e6a36c176_.py
Back-end/vessel_app/__pycache__/__init__.cpython-38.pyc
Back-end/vessel_app/__pycache__/routes.cpython-38.pyc
Back-end/vessel_app/static/media/*
Back-end/site.db
Back-end/vessel_app/static/node_modules/*
Back-end/testplot.jpg
Back-end/vessel_app/Viewers/
Back-end/vessel_app/__pycache__/config.cpython-38.pyc
Back-end/vessel_app/__pycache__/__init__.cpython-38.pyc
Back-end/C:\Users\grego\Documents\GitHub\Vessel-app\Back-end\site.db
Back-end/vessel_app/C:\Users\grego\Documents\GitHub\Vessel-app\Back-end\site.db
Back-end/migrations/versions/280eea38800c_.py
Back-end/vessel_app/OrthancDocker/
Back-end/vessel_app/static/media/testplot.jpg
Back-end/site.db
Back-end/site.db
Back-end/vessel_app/__pycache__/__init__.cpython-38.pyc
Back-end/vessel_app/__pycache__/__init__.cpython-38.pyc
Back-end/vessel_app/__pycache__/config.cpython-38.pyc
Back-end/vessel_app/__pycache__/forms.cpython-38.pyc
Back-end/vessel_app/__pycache__/models.cpython-38.pyc
Back-end/vessel_app/__pycache__/routes.cpython-38.pyc
