{% extends "layout.html" %}
{% block content %}

    <div class="login-dark"> <!--- css -->
        <form action="" method="POST">
            {{form.hidden_tag() }}
            <!--- form.validate_on_submit(): will not execute without {{ form.csrf_token }}  -->
            <legend class="border-bottom mb-4">Login </legend>       
            <fieldset class="form-group">
                <h2 class="sr-only">Login Form</h2>
                <div class="illustration">
                    <i class="icon ion-ios-locked-outline"></i></div>

                    <!---  EMAIL LOGIN  ----->
                    <div class="form-group" class="form-control" type="email" name="email" placeholder="Email">
                        <!---    <input class="form-control" type="email" name="email" placeholder="Email"> --->
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                        
                            <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <!---  PASSWORD LOGIN  ----->
                    <div class="form-group" class="form-control">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>
                    <!--- <input class="form-control" type="password" name="password" placeholder="Password"></div> --->
                    {{ form.recaptcha }}
                    <div class="form-group">
                        <!--<button class="btn btn-primary btn-block" type="submit">Log In</button></div>--->  
                        <div class="form-group">
                            {{ form.submit(class="btn btn-primary btn-block") }}
                        </div>
            </fieldset>

            <a class="forgot" href="#">Forgot your email or password?</a>
        </form>
    </div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/Scroll-To-Top-Button.js"></script>
    <script src="static/js/Scroll-to-top.js"></script>


{% endblock content %}