{% if current_user.is_authenticated %}
{% extends "user_layout.html" %}
{% else %}
{% extends "layout.html" %}
{% endif %}
{% block content %}

    <div class="login-dark">
        <form method="POST" action="">
            {{ form.hidden_tag() }}  <!--- Username form  -->
                     <!--- form.validate_on_submit(): will not execute without {{ form.csrf_token }}  -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
              
              <!--- Username form  -->
    
            <div class="form-group">
            {{ form.username.label(class="form-control-label") }}

            {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(class="form-control form-control-lg") }}
            {% endif %}
        </div>
   <!--- EMAIL FORM  -->
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
        </div>
	   <!--- PASSWORD  -->
       <div class="form-group">
        {{ form.password.label(class="form-control-label") }}
        {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password(class="form-control form-control-lg") }}
        {% endif %}
    </div>
           <!--- Confirm Password  -->
        <div class="form-group">
            {{ form.confirm_password.label(class="form-control-label") }}
            {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
            {% endif %}
        </div>
   </fieldset>

   <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-block")  }}
   </div>
            <div class="form-check text-center" style="font-size: 12px;color: rgb(111,122,133);">
                <label class="form-check-label" style="color: rgb(111,122,133);font-size: 12px;">
            
            <input class="form-check-input d-flex justify-content-center align-items-start" type="checkbox" checked="">I agree to the license terms.</label>
            </div>

 <a class="forgot" href="#">Forgot your email or password?</a>

</form>
</div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/Scroll-To-Top-Button.js"></script>
    <script src="static/js/Scroll-to-top.js"></script>

    
    {% endblock content %}