<!DOCTYPE html>
<html lang="en">
<head>
    <title>OpenVessel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Bootstrap-->
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js' )}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">

    <!-- Additional CSS-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/theme.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='auth/css/style.css')}}">

</head>
<body>
<div style='background: linear-gradient(135deg, #06007A, #1CC0C2); background-color: #184e8e;'>
    <div class="container-fluid d-flex flex-column" style='padding-left: 0; margin-left:0;'>
        <div class='row flex-fill'>
            <div class="col-sm-7" id='scan-gif' style='background-color: black;'>
                <img src="{{url_for('static', filename='auth/img/Rotating_Scan.gif')}}" alt='rotating scan' width='100%' height='100%'>
            </div>
            <div class="login-dark col-sm-5 text-center" id='login-page' style='padding-top: 5%; padding-bottom: 5%; padding-left:4%; padding-right:4%;'>
                <form action="" method="POST">
                    {{form.hidden_tag() }}
                    <!--- form.validate_on_submit(): will not execute without {{ form.csrf_token }}  -->
                    <img src="{{url_for('static', filename='img/OpenVessel_Logo.png')}}" alt='OpenVessel' height='10%' width='100%'> 
                    <fieldset class="form-group">
                        <h2 class="sr-only colors-on-secondary">Login Form</h2>
                        <div class="illustration">

                            <!---  USERNAME  ----->
                            <div class="form-group" placeholder="Username">
                                {{ form.username.label(class="form-control-label colors-on-secondary form-text-h2") }}
                                {% if form.username.errors %}
                                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span class='colors-error'>{{ error }}</span>
                                    {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <!--  EMAIL  -->
                            <div class="form-group" placeholder='Email'>
                                {{ form.email.label(class="form-control-label colors-on-secondary form-text-h2") }}
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <!---  PASSWORD ----->
                            <div class="form-group">
                                {{ form.password.label(class="form-control-label colors-on-secondary form-text-h2") }}
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>
                            <!--- Confirm Password  -->
                            <div class="form-group" placeholder='Confirm Password'>
                                {{ form.confirm_password.label(class="form-control-label colors-on-secondary form-text-h2") }}
                                {% if form.confirm_password.errors %}
                                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.confirm_password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class='form-group'>
                                {{ form.recaptcha }}
                            </div>
                            <div class="form-group">
                            <div class="form-group">
                                {{ form.submit(class="btn btn-primary btn-block") }}
                            </div>
                    </fieldset>
                    <!-- <a class="forgot colors-on-secondary form-text-h3" href="#">Forgot your email or password?</a> -->
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
