{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class='card' style='margin: 3%; background: whitesmoke;'>
        <h1> Guide Book </h1>
        <p>Here are the docs. Some text to describe what we are doing here.</p>
        <h2> Upload </h2>
        <p>After you login, you can navigate to the Upload page </p>
        <p>Fill in the Study Name and  description, not put in Identifiable information </p>
        <h2> Browser </h2>
        <h3> Submit to machine learning </h3>
        <h3> Generate a past model </h3>
        <h2> 3D render </h2>
    </div>
</div>
{% endblock content %}