.g-recaptcha {
    transform:scale(1);
    transform-origin:0 0;
    display: inline-block;
}

.auth-form {
    padding-top: .5%;
    padding-left:4%;
    padding-right:4%;
    background: linear-gradient(135deg, #06007A, #1CC0C2);
    background-color: #184e8e;
}

/* BACK BUTTON */
#back-btn{
    transition: color .15s ease-in-out,background-color;
}

#back-btn:link {
    color: #007bff;
}

#back-btn:visited {
    color: #007bff;
}

#back-btn:hover {
    color: #1c86f7;
    text-decoration: none;
}

#back-btn:active {
    color: rgb(27, 27, 187)07A;
    text-decoration: none;
}