/* BACKGROUND COLORS */
.colors-primary {
    background-color: #03003E;
}

.colors-primary-variant {
    background-color: #06007A;
}

.colors-secondary {
    background-color: #1CC0C2;
}

.colors-secondary-variant {
    background-color: #179EA1;
}

.colors-background {
    background-color: #FFFFFF;
}

.colors-surface {
    background-color: #D6D6D6;
}

.colors-error {
    background-color: #660000;
}

/* FONT COLORS */
.colors-on-primary {
    color: #FFFFFF;
}

.colors-on-secondary {
    color: #000000;
}

.colors-on-background {
    color: #000000;
}

.colors-on-surface {
    color: #000000;
}

.colors-on-error{
    color: #FFFFFF;
}

/* FORM TEXT */
.form-text-h1 {
    font-size: 30px;
}

.form-text-h2 {
    font-size: 20px;
}

.form-text-h3 {
    font-size: 15px;
}

/* FORM TEXT */
.general-text-h1 {
    font-size: 60px;
}

.general-text-h2 {
    font-size: 40px;
}

.general-text-h3 {
    font-size: 20px;
}

/* LINKS */

/* unvisited link */
a:link {
    color: #03003E;
}

/* visited link */
a:visited {
    color: #0c094e;
}

/* mouse over link */
a:hover {
    color: #06007A;
}

/* selected link */
a:active {
    color: rgb(27, 27, 187)07A;
}

/* BACK BUTTON */
#back-btn{
    transition: color .15s ease-in-out,background-color;
}

#back-btn:link {
    color: #007bff;
}

#back-btn:visited {
    color: #007bff;
}

#back-btn:hover {
    color: #1c86f7;
    text-decoration: none;
}

#back-btn:active {
    color: rgb(27, 27, 187)07A;
    text-decoration: none;
}

.tutorial-section {
    padding-top: 15px;
    padding-bottom: 15px;
}