{% extends "layout.html" %}
{% block content %}

<div class='browser'>
    {% if all_studies == [] %}
    <!-- NO UPLOADS FOUND -->
        <div class='card'>
            <div class='container'>
                    <p>You have no files uploaded. Please go to the <a href=' {{url_for("file_pipeline.upload")}} '>upload page</a> to continue.</p>
                    <br>
                    <br>
                    <div style="text-align: center;">
                        <h5 style='text-decoration: black;'>or</h5>
                    </div>
                    <br>
                    <p>If you uploaded files and you don't see them, please <a href=' {{url_for("file_pipeline.browser")}} '>refresh the page</a></p>
            </div>
        </div>
    {% else %}
    <!-- GENERATE LIST OF CARDS -->
        {% for study in all_studies %}
            <div class='card' style='margin: 3%; background: whitesmoke;'>
                
                <!-- CARD HEADINGS -->
                <div id='study-titles' style='text-align: center;'>
                    <h1 class='form-text-h1'><b>Study Name:</b> {{study['study_name']}} </h1>
                    <p class='form-text-h2'><b>Description:</b> {{study['description']}}</p>
                </div>
                
                <div style='padding-bottom: 2%;'>
                    <!-- THUMBNAIL -->
                    <table id='study-tn' style='border: none; margin-right: 2%;'> 
                        <tr>
                            <td> 
                                <img src="data:image/jpeg;charset=utf-8;base64,{{ study['file_thumbnail']}}" alt="dicom thumbnail">  
                            </td>
                        </tr>
                    </table>

                    <!-- STUDY INFO -->
                    <div>
                        <!-- Field Names-->
                        <div style='float: left; text-align: left;'>
                            {% for field in browserFields %}
                                <p class='form-text-h3'><strong>{{ field }}</strong></p> 
                            {% endfor %}
                                <p class='form-text-h3'><strong>File Count</strong></p>
                        </div>

                        <!-- Field Values-->
                        <div style='float: left; text-align: right;'>
                            {% for field in browserFields %}   
                                {% if field in study['study_df'] %}
                                    <p class='form-text-h3'>  {{ study['study_df'][field].values[0] }} </p>
                                {% else %}
                                    <p class='form-text-h3'> NO DATA </p>
                                {% endif %}
                            {% endfor %}
                            <p> {{ study['file_count'] }} </p>
                        </div>
                    </div>
                </div>
                
                <!-- STUDY BUTTONS -->
                <div id='study-btns' style="margin: 2%; display: flex; justify-content: center;">
                    <table style="border-spacing: 20px 20px; border: none; align-self: center;">
                        <tr>
                            <td> <!-- Submit Job button -->
                                <form action="{{url_for('submit_job.job')}}" method="post">
                                    <input type="hidden" name="session_id" value="{{ study['session_id'] }}">
                                    <input class="btn btn-main" type="submit" value="Submit To Machine Learning">
                                </form>
                            </td>
                            {% if not config['DEMO'] %}
                            <td style="text-align: center;"> <!-- Delete button -->
                                <form action="{{url_for('file_pipeline.delete')}}" method="post">
                                    <input type="hidden" name="session_id" value="{{ study['session_id'] }}">
                                    <input class="btn btn-error" type="submit" onclick="return confirm('Are you sure you want to delete this upload?')" value="Delete Upload">
                                </form>
                            </td>
                            {% endif %}

                        </tr> 

                        <!-- 3d object viewer dropdown and submit -->
                        {% if study['session_id_3ds'] != [] %}
                        <tr> 
                            <td colspan="2">
                                <button type="button" class="collapsible">Generate a past model</button>
                                <div class="content">
                                    <table style="border-spacing: 20px 20px;">
                                        {% for session_id_3d in study['session_id_3ds'] %}
                                            <tr>
                                                <td>
                                                    <p>{{session_id_3d['study_df']}}</p>
                                                </td>
                                                <td> <!-- Generate button -->
                                                    <form action='{{url_for("viewer_3d.viewer_3d")}}' method='post'>
                                                        <input class="form-control" type='hidden' value='{{session_id_3d[1]}}' name="session_id_3d">
                                                        <input class="form-control" type='hidden' value='browser' name='source'>
                                                        <input class="btn btn-main" type="submit" value="View">   
                                                    </form>
                                                </td>
                                                {% if not config['DEMO'] %}
                                                <td> <!-- Delete button -->
                                                    <form action="{{url_for('file_pipeline.delete_3d')}}" method="post">
                                                        <input class="form-control" type="hidden"  value="{{session_id_3d[1]}}" name="session_id_3d">
                                                        <input class="btn btn-error" type="submit" onclick="return confirm('Are you sure you want to delete this 3d render?')" value="Delete">
                                                    </form>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </table>               
                                </div>
                            </td>
                        </tr>
                        {% endif %}

                        <tr> 
                            <td colspan="2">
                                <button type="button" class="collapsible">Convert data</button>
                                <div class="content">
                                    <table style="border-spacing: 20px 20px;">
                                            <tr>
                                                <td>
                                                    <p>"{{ study['session_id'] }}"</p>
                                                </td>
                                                <td> <!-- Generate button -->
                                                    <form action='{{url_for("conversion_code.convert")}}' method='post'>
                                                        <label for="cars">file type:</label> <select id="cars" name="cars">
                                                            <option value="matlab">Matlab</option>
                                                            <option value="png">PNG</option>
                                                            <option value="jepg">JEPG</option>
                                                          </select>
                                                        <input class="form-control" type='hidden' value="{{ study['session_id'] }}" name="session_id">
                                                        <input class="form-control" type='hidden' value='browser' name='source'>
                                                        <input class="btn btn-main" type="submit" value="Download"> 
                                                        
                                                        
                                                    </form>
                                                </td>
                                            </tr>
                                    </table>               
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                
            </div>
        {% endfor %}
    {% endif %}
</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
}
</script>

{% endblock content %}