{% extends "demo_layout.html" %}

{% block content %}
<title>Vessel Dicom viewer React.js and Webpack</title>
    <div class="container hero">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                <img class="align-content-center" src="{{url_for('static', filename='img/screen-content-iphone-6.jpg')}}">
            </div>
            <div class="col form-group">
                <form action='{{url_for("file_pipeline.viewer_3d")}}' method='post'>
                    <input class="form-control" type='hidden' value='{{session_id}}' name='session_id'>
                    
                    <input class="form-control" type='hidden' value='job_submit' name='source'>
                    
                    <label for="k" style="color:white">K value (1-20):</label>
                    <input class="form-control"type="number" name="k"
                        min="1" max="20">

                    <select class="form-control" name="segmentation_options">
                        <option value="350">Bone</option>
                        <option value="55">Blood</option>
                    </select>
                    <button action="" class="btn btn-light btn-lg text-left action-button" type="submit" style="margin: 122px;">Submit Job</button>
                </form>
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/bundle.js')}}" type="text/javascript"></script>
{% endblock content %}