{% extends "layout.html" %}

{% block content %}

<style>
    #loading-image{
    width: 10%;
    height: 10%;
    border-radius: 50%; 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }
</style>

<div id='main-content'>
    <div class="container">
        <div class='card' style='margin: 3%;'>
            <div class="form-group">
                <h1 class='form-text-h1 colors-on-surface'><b>Submit Job</b></h1>
                <h2 class='form-text-h2 colors-on-surface'>{{form.model_name}}</h2>
                <form action='{{url_for("file_pipeline.viewer_3d")}}' method='post'>

                    <input class="form-control" type='hidden' value='{{session_id}}' name='session_id'>
                    <input class="form-control" type='hidden' value='job_submit' name='source'>
                    <input class="form-control" type='hidden' value='{{form.get_fields()}}' name='fields'>
        
                    {{form.get_form_html() | safe }}

                    <!-- SUBMIT BUTTON-->
                    <button action="" class="btn btn-main" type="submit" style="margin-top: 2%;" onclick="$('#loading').show(); $('#main-content').hide();">Submit Job</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="loading" style="display:none; text-align: center; margin-bottom: 100%;">
    <br style="line-height:22px;"></br>
    <img id="loading-image"  src="{{ url_for('static', filename='img/loading.gif') }}" alt='loading...'>
    <h3 style="text-align: center; padding-top: 10px;">Loading...</h3>
</div>


<script src="{{url_for('static', filename='js/bundle.js')}}" type="text/javascript"></script>




{% endblock content %}