{% extends "layout.html" %}
{% block content %}

{{ dropzone.load_css(css_url='/static/css/dropzone.css') }} 
{{ dropzone.style('border: 2px ridged #06007A; margin: 10px 0 10px; min-height: 400px; max-height: 400px; width: auto; overflow-x: hidden; overflow-y: auto;') }}

<style>
    .dz-remove {
        padding-top: 2%;
    }
</style>   

<form action="{{ url_for('file_pipeline.handle_form') }}" enctype="multipart/form-data" method="post">
    <div class='browser'> <!-- browser class because of cards -->
        <div class='card' style="text-align: left;">
            <div class='form-text-h1 colors-on-surface'> Drag and Drop DICOM </div>
            <br/>
            <div class='form-text-h2 colors-on-surface'> Drag and drop individual DICOM files or a folder of DICOM files into the field below.</div>
            
            <!-- STUDY NAME-->
            <label for="study_name" class='form-control-label colors-on-surface form-text-h2'>Study Name</label>
            <input type="text" class="form-control form-control-lg" id="study_name" name="study_name" /><br>
            
            <!-- DESCRIPTION -->
            <label for="description" class='form-control-label colors-on-surface form-text-h2'>Description</label>
            <input type="text" class="form-control form-control-lg" id="description" name="description" /><br>
        
        </div>
        <div id='dropzone-and-progress-bar' class='card'>
            <!-- Progress bar -->
            <div class="progress" style='height: 5%;'>
                <div class="progress-bar progress-bar-striped active w3-xlarge" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%; height: 5%;">
                    <span class="the-progress-text"></span>
                </div>
            </div>

            <!-- Dropzone -->
            {{ dropzone.create() }} <!-- this makes the class dropzone dropzone.css -->
            {{ dropzone.load_js() }}
            {{ dropzone.config(custom_options='
            autoProcessQueue: false, 
            addRemoveLinks: true, 
            parallelUploads: 100, 
            uploadMultiple: true,
            acceptedFiles:"image/*,.dcm",
            maxFilesize:10,
            timeout:300000000000,
            ' ) }}

            <!-- FORM SUBMIT BUTTON-->
            <input type="submit" class="btn btn-primary btn-block" id="submit" value="Submit and Upload">
        </div>
    </div>
</form>

<script>

Dropzone.autoDiscover = false;

$(function() {
    // Now that the DOM is fully loaded, create the dropzone, and setup the
    // event listeners
    var myDropzone = new Dropzone("#myDropzone");
    myDropzone.on("addedfile", function(file) {

    console.log("Added file");

});

myDropzone.on("totaluploadprogress", function (progress) {
    console.log( progress);
    $(".progress-bar").width(progress + '%'); // div tags
    $(".the-progress-text").text(Math.round(progress) + '%'); // span

});

myDropzone.on("processingmultiple", function (progress) {
    console.log( progress);
    
});

myDropzone.on("processing", function() {
    myDropzone.options.autoProcessQueue = true;
});

myDropzone.on("queuecomplete", function (file, formData) {
        console.log("All files have uploaded ");
    
        const xhr = new XMLHttpRequest()
        const data = new FormData()

        data.append('done', true)
        xhr.open('POST', '/dropzone_handler')
        xhr.send(data)

    });
})
</script>

{% endblock content %}