{% if current_user.is_authenticated %}
{% extends "user_layout.html" %}
{% else %}
{% extends "layout.html" %}
{% endif %}
{% block content %}

{{ dropzone.load_css(css_url='/static/css/dropzone.css') }} 
{{ dropzone.style('border: 2px dashed #0087F7; margin: 10px 0 10px; min-height: 400px; width: 800px') }}
<div class="header-blue">
    <div class="container hero">
        <div class="content-section-upload">
            <fieldset class="form-group">   
                <div class="font_headers"> <!-- found in styles.css -->
                    <h2 > Drag and Drop DICOM   </h2>
                
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <h4 style="text-align: center; color:red;">{{ message }}</h4>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                
                </div>         
                
                <div class="center_dropbox"> <!-- found in styles.css -->
                    <form  
                    id="myAwesomeDropzone"
                    action="{{ url_for('file_pipeline.handle_form') }}" 
                    enctype="multipart/form-data" method="post">
                        <div class = "font_input"> <!-- found in styles.css -->
                            <label for="study_name">Study Name</label>
                            <input type="text" id="study_name" name="study_name" /><br>
                            <label for="description">Description</label>
                            <input type="text" id="description" name="description" /><br>
                            
                            <input type="submit" id="submit" value="Submit and Upload">
                            
                            <!-- Progress bar -->
                            <div style="margin-top:5%;" class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                    <span class="the-progress-text"></span>
                                </div>
                            </div>

                            <!-- Dropzone -->
                            {{ dropzone.create() }} <!-- this makes the class dropzone dropzone.css -->
                            {{ dropzone.load_js() }}
                            {{ dropzone.config(custom_options='
                            autoProcessQueue: false, 
                            addRemoveLinks: true, 
                            parallelUploads: 100, 
                            uploadMultiple: true,
                            acceptedFiles:"image/*,.dcm",
                            maxFilesize:10,
                            timeout:300000000000,
                            ' ) }}
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>  
</div>

<script>

Dropzone.autoDiscover = false;

$(function() {
  // Now that the DOM is fully loaded, create the dropzone, and setup the
  // event listeners
  var myDropzone = new Dropzone("#myDropzone");
  myDropzone.on("addedfile", function(file) {
  
     console.log("Added file");

  });

  myDropzone.on("totaluploadprogress", function (progress) {
    console.log( progress);
    $(".progress-bar").width(progress + '%'); // div tags
    $(".the-progress-text").text(Math.round(progress) + '%'); // span

});

myDropzone.on("processingmultiple", function (progress) {
    console.log( progress);
    
});

myDropzone.on("processing", function() {
    myDropzone.options.autoProcessQueue = true;
});

myDropzone.on("queuecomplete", function (file, formData) {
          console.log("All files have uploaded ");
      
        const xhr = new XMLHttpRequest()
        const data = new FormData()

        data.append('done', true)
        xhr.open('POST', '/dropzone_handler')
        xhr.send(data)

      });
})
</script>

{% endblock content %}