{% if current_user.is_authenticated %}
{% extends "user_layout.html" %}
{% else %}
{% extends "layout.html" %}
{% endif %}

{% block content %}
<script type="text/javascript" src="https://unpkg.com/vtk.js"></script>

<div style='text-align: center;'>
    <h6>Here is the data that will generate the 3d model!</h6>
    <h5><i>NOTE: This page will be overhauled with the OHIF Viewer by Muhsin</i></h5>
    <p>{{data}}</p>
</div>
<div id="container"></div>
<div id="content"></div>
<!--<script type="text/javascript" src="{{url_for('static', filename='js/bundle.js')}}"></script>
--->

<script type="text/javascript" src="{{url_for('static', filename='js/bundle.js')}}"> 

</script> 




{% endblock content %}