
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>OpenVessel</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/ionicons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Article-Clean.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Features-Blue.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Header-Blue.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Login-Form-Dark.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Scroll-to-top.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Testimonials.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/card_browser.css')}}">
    <!--  Dropzone reference or include --> 
    {{ dropzone.load_css(css_url='/static/css/dropzone.css') }} 
    
    {% if title %}
        <title>Vessel - {{ title }}</title>
    {% else %}
        <title>Vessel</title>
    {% endif %}
</head>

<header>
 <div>
    <div class="header-blue">
        
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
            <div class="container-fluid"><a class="navbar-brand" href="/home">Vessel</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown </a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" href="{{ url_for('main.index')}}">Home</a> 
                                <a class="dropdown-item" role="presentation" href="{{ url_for('main.doc')}}">Documentation</a>
                                
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                    </form><span class="navbar-text"> 
                        <a class="login" href="{{url_for('auth.register')}}">Sign Up</a></span>
                   
                    <a class="btn btn-light action-button" role="button" href="{{url_for('auth.login')}}">Log In</a>
                  
                </div>
            </div>
        </nav>
    </div>
</div>
</header>    
  {% block content %}
      
    {% endblock %}


<script src="static/js/jquery.min.js"></script>
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<script src="static/js/Scroll-To-Top-Button.js"></script>
<script src="static/js/Scroll-to-top.js"></script>

</body>
</html>