{% extends "layout.html" %}

{% block content %}

<div class="header-blue">
    <div class="container hero">
        <div class="row">
<div class="content-section-upload">
		 
    <h2> Drag or Drop DICOM   </h2>
   

       {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px; width:85%;') }}
       {{ dropzone.create(action='upload') }}
       
    <a class="nav-item nav-link" href="{{ url_for('browser') }}"> <button id="upload">Upload</button> </a>
  
 
<!--- dropzone javascript code can be config here to change the dropzone behavior   https://www.dropzonejs.com/#configuration --->
<!-- dropzone's custom_init allows you to call when dropzone initializes you can add event listeners here  -->
{{ dropzone.config( custom_init='dz = this;document.getElementById("upload-btn").addEventListener("click", function handler(e) {dz.processQueue();});',
              custom_options='autoProcessQueue: false, addRemoveLinks: true, parallelUploads: 20,') }}
  
{{ dropzone.load_js() }} <!--- javascript file  ---> 
</div>
</div>
</div>
</div>




{% endblock content %}