{% if current_user.is_authenticated %}
{% extends "user_layout.html" %}
{% else %}
{% extends "layout.html" %}
{% endif %}
{% block content %}

<div class="header-blue">
    <div class="container hero">
        <div class="content-section-upload">
            <fieldset class="form-group">   
                <div class="font_headers">
                    <h2 > Drag or Drop DICOM   </h2>
                </div>                  
                <form action="{{ url_for('handle_form') }}" enctype="multipart/form-data" method="post">
                    <label for="Study Name">Study Name</label>
                    <input type="text" id="Study Name" name="Study Name"/><br>
                    <label for="description">Description</label>
                    <input type="text" id="description" name="description"/><br>
                    {{ dropzone.create() }}
                    <input type="submit" id="submit" value="Submit and Upload">
                </form>
                {{ dropzone.load_js() }}
                {{ dropzone.config() }}
            </fieldset>
        </div>
    </div>  
</div>

{% endblock content %}